<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Attack Detector</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/script.js"></script>
</head>
<body>
    <div class="header">
        <h1>WEB ATTACK DETECTOR</h1>
    </div>
    <div class="container">
        <h2>Payload check for web attack detection</h2>
        <form method="POST">
            <textarea name="payload" rows="4" placeholder="Input payload ..."></textarea>
            <button type="submit">Check</button>
        </form>

        <div class="res">
            {% if results %}
                <div class="model-result">
                    <h3>Naive Bayes & Random Forest Model</h3>
                    <p id="result-1">Result: <strong>{{ results.model1 }}</strong></p>
                </div>
                <div class="model-result">
                    <h3>Logistic Regression Model</h3>
                    <p id="result-2">Result: <strong>{{ results.model2 }}</strong></p>
                </div>
                <div class="model-result">
                    <h3>K-Nearest Neighbors Model</h3>
                    <p id="result-3">Result: <strong>{{ results.model3 }}</strong></p>
                </div>
                <div class="model-result">
                    <h3>Random Forest & Gradient Boosting Model</h3>
                    <p id="result-4">Result: <strong>{{ results.model4 }}</strong></p>
                </div>
            {% endif %}
        </div>
    </div>
</body>
</html>
